@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michael O'Flaherty<br />
    Petaluma, CA 94952<br />
    <abbr title="Phone">P:</abbr>
    707-318-1655
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Michael@piratesoda.com">Michael O'Flaherty</a><br />
    
</address>