@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Galactic Spy</h1>
    <p class="lead">Bubble Powered</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The fun starts here</h2>
        <p>
            The main purpose will go here - MO
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/">Google &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something about libs here</h2>
        <p>More Something here</p>
        <p><a class="btn btn-default" href="https://www.google.com/">Google &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Do some hosting? (MO)</h2>
        <p>Yet another paragraph.</p>
        <p><a class="btn btn-default" href="https://www.google.com/">Google &raquo;</a></p>
    </div>
</div>